<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - Club de Lucha Massanassa</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="footer">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-lg-4">
            <div class="social-icons">
                <a href="https://instagram.com" target="_blank">
                    <img src="instagram-icon.png" alt="Instagram">
                </a>
                <a href="https://facebook.com" target="_blank">
                    <img src="facebook-icon.png" alt="Facebook">
                </a>
                <a href="https://twitter.com" target="_blank">
                    <img src="x-icon.png" alt="X (Twitter)">
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="contact-buttons">
                <button onclick="window.location.href='contacto.html'">Contáctanos</button>
                <button onclick="window.location.href='tel:+123456789'">Teléfono</button>
                <button onclick="window.location.href='mailto:info@clubdelucha.com'">Email</button>
            </div>
        </div>
            <div class="col-lg-4">
            <div class="map-container">
                <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3125.4635869547926!2d-0.3952181!3d39.4112929!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604e90292ed361%3A0x6abf6d4dd2b76114!2sClub%20de%20lucha%20Massanassa!5e0!3m2!1ses!2ses!4v1618837294703!5m2!1ses!2ses" 
                    frameborder="0"
                    allowfullscreen
                    loading="lazy">
                </iframe>
            </div>
            </div>
        </div>
        
    </div>
    </div>

</body>
</html>
