<div class="create-event-container fade-in">
  <div class="form-wrapper">
    <h2 class="text-center mb-3 p-4">Crear Evento</h2>
    <form [formGroup]="createEvent" (ngSubmit)="onSubmit()" class="event-form">
      <div class="event-grid">
        <div class="event-card-item">
          <div class="event-header-item">
            <i class="bi bi-calendar-event event-icon"></i>
            <label for="nombre-evento" class="form-label">Nombre del evento</label>
          </div>
          <input type="text" class="form-control" id="nombre-evento" formControlName="nombre"
            placeholder="Escribe el nombre del evento" [class.is-invalid]="isFieldInvalid('nombre')">
          @if (isFieldInvalid('nombre')) {
          <div class="invalid-feedback">
            {{ getErrorMessage('nombre') }}
          </div>
          }
        </div>

        <div class="event-card-item">
          <div class="event-header-item">
            <i class="bi bi-file-text event-icon"></i>
            <label for="informacion-evento" class="form-label">Información del evento</label>
          </div>
          <textarea class="form-control" id="informacion-evento" formControlName="descripcion" rows="3"
            placeholder="Escribe la información del evento"
            [class.is-invalid]="isFieldInvalid('descripcion')"></textarea>
          @if (isFieldInvalid('descripcion')) {
          <div class="invalid-feedback">
            {{ getErrorMessage('descripcion') }}
          </div>
          }
        </div>
      </div>

      <div class="event-grid">
        <div class="event-card-item">
          <div class="event-header-item">
            <i class="bi bi-calendar-date event-icon"></i>
            <label for="fecha-evento" class="form-label">Fecha del evento</label>
          </div>
          <input type="date" class="form-control" id="fecha-evento" formControlName="fecha"
            [class.is-invalid]="isFieldInvalid('fecha')">
          @if (isFieldInvalid('fecha')) {
          <div class="invalid-feedback">
            {{ getErrorMessage('fecha') }}
          </div>
          }
        </div>

        <div class="event-card-item">
          <div class="event-header-item">
            <i class="bi bi-people event-icon"></i>
            <label for="capacidad-evento" class="form-label">Capacidad del evento</label>
          </div>
          <input type="number" class="form-control" id="capacidad-evento" formControlName="capacidad" min="1" max="5000"
            [class.is-invalid]="isFieldInvalid('capacidad')">
          @if (isFieldInvalid('capacidad')) {
          <div class="invalid-feedback">
            {{ getErrorMessage('capacidad') }}
          </div>
          }
        </div>

        <div class="event-card-item">
          <div class="event-header-item">
            <i class="bi bi-info-circle event-icon"></i>
            <label for="estado-evento" class="form-label">Estado del evento</label>
          </div>
          <select class="form-control" id="estado-evento" formControlName="estado"
            [class.is-invalid]="isFieldInvalid('estado')">
            <option value="">Selecciona un estado</option>
            <option *ngFor="let estado of estadosClase" [value]="estado">{{ estado }}</option>
          </select>
          @if (isFieldInvalid('estado')) {
          <div class="invalid-feedback">
            {{ getErrorMessage('estado') }}
          </div>
          }
        </div>
      </div>

      <div class="event-card-item">
        <div class="event-header-item">
          <i class="bi bi-geo-alt event-icon"></i>
          <label for="direccion-evento" class="form-label">Dirección del evento</label>
        </div>
        <input type="text" class="form-control" id="direccion-evento" formControlName="ubicacion"
          placeholder="Escribe la dirección del evento" [class.is-invalid]="isFieldInvalid('ubicacion')">
        @if (isFieldInvalid('ubicacion')) {
        <div class="invalid-feedback">
          {{ getErrorMessage('ubicacion') }}
        </div>
        }
      </div>

      <div class="form-buttons">
        <button type="submit" class="btn btn-primary">
          <i class="bi bi-calendar-plus me-1"></i>
          @if (loading) {
          <span class="spinner-border spinner-border-sm me-2"></span> Creando...
          } @else {
          Crear Evento
          }
        </button>
        <button type="button" class="btn btn-secondary" (click)="abrirGoogleMaps()">
          <i class="bi bi-geo-alt me-2"></i>Abrir en Google Maps
        </button>
      </div>
    </form>
  </div>
</div>