<div class="event-container fade-in">
    <div class="event-card">
        <div class="event-header">
            <h2>Crear Evento</h2>
        </div>

        <form [formGroup]="createEvent" (ngSubmit)="onSubmit()" class="event-form">
            <div class="event-grid">
                <div class="event-card-item">
                    <div class="event-header-item">
                        <i class="bi bi-calendar-event event-icon"></i>
                        <label for="nombre-evento" class="form-label">Nombre del evento</label>
                    </div>
                    <input type="text" class="form-control" id="nombre-evento" formControlName="nombre"
                        placeholder="Escribe el nombre del evento" required aria-required="true"
                        aria-describedby="nombre-evento-ayuda">
                    <p id="nombre-evento-ayuda" class="visually-hidden">Por favor, ingresa el nombre del evento.</p>
                </div>

                <div class="event-card-item">
                    <div class="event-header-item">
                        <i class="bi bi-file-text event-icon"></i>
                        <label for="informacion-evento" class="form-label">Información del evento</label>
                    </div>
                    <textarea class="form-control" id="informacion-evento" formControlName="descripcion" rows="3"
                        placeholder="Escribe la información del evento" aria-describedby="informacion-evento-ayuda"></textarea>
                    <p id="informacion-evento-ayuda" class="visually-hidden">Escribe la información del evento.</p>
                </div>
            </div>

            <div class="event-grid">
                <div class="event-card-item">
                    <div class="event-header-item">
                        <i class="bi bi-calendar-date event-icon"></i>
                        <label for="fecha-evento" class="form-label">Fecha del evento</label>
                    </div>
                    <input type="date" class="form-control" id="fecha-evento" formControlName="fecha" required
                        aria-required="true" aria-describedby="fecha-evento-ayuda">
                    <p id="fecha-evento-ayuda" class="visually-hidden">Por favor, ingresa la fecha del evento.</p>
                </div>

                <div class="event-card-item">
                    <div class="event-header-item">
                        <i class="bi bi-calendar-date event-icon"></i>
                        <label for="fecha-evento" class="form-label">capacidad del evento</label>
                    </div>
                    <input type="text" class="form-control" id="capacidad-evento" formControlName="capacidad" required
                        aria-required="true" aria-describedby="capacidad-evento-ayuda">
                    <p id="capacidad-evento-ayuda" class="visually-hidden">Por favor, ingresa la capacidad del evento.</p>
                </div>

                <div class="event-card-item">
                    <div class="event-header-item">
                        <i class="bi bi-info-circle event-icon"></i>
                        <label for="estado-evento" class="form-label">Estado del evento</label>
                    </div>
                    <input type="text" class="form-control" id="estado-evento" formControlName="estado"
                        placeholder="Escribe el estado del evento" required aria-required="true"
                        aria-describedby="estado-evento-ayuda">
                    <p id="estado-evento-ayuda" class="visually-hidden">Por favor, ingresa el estado del evento.</p>
                </div>
            </div>

            <div class="event-card-item">
                <div class="event-header-item">
                    <i class="bi bi-geo-alt event-icon"></i>
                    <label for="direccion-evento" class="form-label">Dirección del evento</label>
                </div>
                <input type="text" class="form-control" id="direccion-evento" formControlName="ubicacion"
                    placeholder="Escribe la dirección del evento" required aria-required="true"
                    aria-describedby="direccion-evento-ayuda">
                <p id="direccion-evento-ayuda" class="visually-hidden">Por favor, ingresa la dirección del evento.</p>
            </div>

            <div class="button-group">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-check-circle me-2"></i>Confirmar
                </button>
                <button type="button" class="btn btn-secondary" (click)="abrirGoogleMaps()">
                    <i class="bi bi-geo-alt me-2"></i>Abrir en Google Maps
                </button>
            </div>
        </form>
    </div>
</div>