<main>
    <section>
        <article>
            <app-carrousel></app-carrousel>
        </article>
        <article>
            <div class="row mb-3">
                <div class="col-md-6" id="texto-sobre-mi">
                    <h1 id="sobre-mi">Sobre mí</h1>
                    <p>¡Hola! Soy Stanley Barbosay, y gracias a la suerte o al destino descubrí el mundo de las artes marciales,
                        que me conquistó desde el primer momento en que lancé mi primera patada. Me encanta aprender nuevas técnicas y
                        superar retos, por eso me he formado en diferentes estilos como el boxeo, jiu-jitsu o la capoeira. Me considero una persona disciplinada, apasionada y con muchas ganas de compartir mis conocimientos.
                        Si quieres saber más sobre mí o entrenar juntos, no dudes en contactar conmigo. ¡Estaré encantado de conocerte!
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="../../../../images/stanley.png" alt="Foto de Stanley Barbosa" class="foto-perfil">
                </div>
            </div>
        </article>
      
        <article>
            <app-jumbotron></app-jumbotron>
        </article>
    </section>
</main>



