.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s ease, transform 0.25s ease;
    z-index: 1050;
}

.modal.show-modal {
    display: flex;
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s ease, transform 0.25s ease;
}

.modal-title {
    font-size: 25px;
    text-align: center;
    margin: auto;
}

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

.modal-content {
    background-color: white;
    padding: 15px;
    max-width: 90%;
    width: 500px;
    border-radius: 0.5rem;
    overflow: auto;
    position: relative;
}

.modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style-type: none;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background: transparent;
    font-size: 25px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.close-button:hover {
    background-color: #f1f0f0;
}

.border-success {
    border: 2px solid #28a745;
    /* Borde verde */
}

.border-danger {
    border: 2px solid #dc3545;
    /* Borde rojo */
}