.header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.rounded-pill {
    width: 100px; /* Ajustar tamaño según sea necesario */
    height: 100px; /* Ajustar tamaño según sea necesario */
    border-radius: 50%; /* Cambiado a 50% para un logo más redondo */
    object-fit: cover; /* Mantiene la relación de aspecto del logo */
}

.navbar {
    padding: 10px 20px; /* Espaciado en la parte superior e inferior */
}

.nav-link {
    font-weight: 500; /* Aumenta el grosor de la fuente */
    transition: color 0.3s; /* Añade transición para un efecto suave */
}

.nav-link:hover {
    color: #ffc107;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5); /* Cambia el color del borde */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='white' viewBox='0 0 30 30'><path stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}
.dropdown-item:hover{
    background-color: rgb(192, 190, 190);
}
@media (max-width: 991px) { /* Se aplica cuando el navbar colapsa */
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100vw; /* Ocupar el 100% del ancho de la pantalla */
        background-color: #343a40; /* Mismo color de fondo del navbar */
        z-index: 1000; /* Para que quede por encima de otros elementos */
        padding: 10px 0;
    }
    
    .navbar-nav {
        width: 100%;
        text-align: center; /* Centrar los enlaces */
    }

    .navbar-nav .nav-item {
        padding: 10px 0;
    }
}
