<div class="header">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <img class="rounded-pill" src="../../../../images/logo2.png" alt="Logo" >
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link ms-3" routerLink="home" routerLinkActive="active">Inicio</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link ms-3" routerLink="activities" routerLinkActive="active">Actividades</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link ms-3" routerLink="schedules" routerLinkActive="active">Horarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ms-3" routerLink="formContact" routerLinkActive="active">Contacto</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item ms-3">
                        <a class="nav-link" >Iniciar sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
