<div class="header">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <img class="rounded-pill" src="../../../../images/logo2.png" alt="Logo" >
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item ms-3">
                        <a class="nav-link" href="#">Inicio</a>
                    </li>
                    <li class="nav-item dropdown ms-3">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Actividades</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">MMA</a></li>
                            <li><a class="dropdown-item" href="#">Jiu Jitsu</a></li>
                            <li><a class="dropdown-item" href="#">Boxeo</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ms-3" href="#">Horarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ms-3" href="#">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
