<div class="header">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <img class="rounded-pill" src="../../../../images/logo2.png" routerLink="/home" alt="Logo">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item ms-3">
                        <a class="nav-link" href="#">Clases</a>
                    </li>
                    <li class="nav-item ms-3">
                        <a class="nav-link" href="#">Calendario</a>
                    </li>
                    <li class="nav-item ms-3">
                        <a class="nav-link" href="#" routerLink="events" routerLinkActive="active">Eventos</a>
                    </li>
                    <li class="nav-item ms-3">
                        <a class="nav-link" href="#">Ver Progreso</a>
                    </li>
                </ul>
                <div class="dropdown ms-auto">
                    <button class="btn btn-dark dropdown-toggle d-flex align-items-center" type="button" id="userMenu"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img [src]="userData?.foto" alt="Foto de perfil">
                    </button>
                    <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="userMenu">
                        <li><a class="dropdown-item mb-2" routerLink="showProfile">Ver Perfil</a></li>
                        <li><a class="dropdown-item" routerLink="editProfile">Editar Perfil</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>