<div class="container mt-5 mb-5">
    <h2 class="text-center mb-5">Lista de Entrenadores</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped align-middle">
            <thead class="table-dark">
                <tr class="text-center">
                    <th scope="col">Foto</th>
                    <th scope="col">Nombre y Apellidos</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Correo Electrónico</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td>
                        <img src="https://randomuser.me/api/portraits/men/10.jpg" class="rounded-circle" width="50"
                            height="50" alt="Juan Pérez">
                    </td>
                    <td>Juan Pérez García</td>
                    <td>+34 612 345 678</td>
                    <td>carlos.sanchez.com</td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-danger"><i class="bi bi-trash"></i> Eliminar</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="https://randomuser.me/api/portraits/women/12.jpg" class="rounded-circle" width="50"
                            height="50" alt="María López">
                    </td>
                    <td>María López Fernández</td>
                    <td>+34 687 654 321</td>
                    <td>carlosSanchez.com</td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-danger"><i class="bi bi-trash"></i>Eliminar</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="https://randomuser.me/api/portraits/men/22.jpg" class="rounded-circle" width="50"
                            height="50" alt="Carlos Sánchez">
                    </td>
                    <td>Carlos Sánchez Martín</td>
                    <td>+34 698 765 432</td>
                    <td>carlos.sanchez.com</td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-danger"><i class="bi bi-trash"></i> Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>