<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-lg-6 position-relative">
            <img src="../../../../images/jumbotron.jpg" class="img-fluid" alt="Foto de un entrenamiento dentro de una sala">
          
        </div>

        <div class="col-lg-6">
            <p class="text-danger fw-bold fst-italic">Luchas Olímpicas</p>
            <h2 class="fw-bold">EJERCITA LA POTENCIA, RESISTENCIA Y EQUILIBRIO</h2>
            <p class="text-muted">
                A diferencia de la mayoría de deportes que desarrollan grupos musculares específicos, 
                como el fútbol o atletismo, la lucha olímpica fortalece el cuerpo de manera equilibrada, 
                reduciendo el riesgo de lesiones.
            </p>
            
            <!-- Botones -->
            <div class="d-flex gap-3">
                <a href="https://es.wikipedia.org/wiki/Lucha_libre_ol%C3%ADmpica" target="_blank" class="btn btn-dark px-4">SABER MÁS</a>
                <a href="#" class="btn btn-outline-danger px-4" routerLink="/activities">ACTIVIDADES</a>
            </div>
        </div>
    </div>
</div>

