<form (ngSubmit)="validarFormulario($event)" class="login-form mt-4">
    <main>
        <div class="container mt-5">
            <section class="text-center mb-3">
                <i class="bi bi-person-circle" style="font-size: 80px;"></i>
            </section>

            <section class="row mb-3">
                <article class="col-12 col-md-6">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Escribe tu nombre"
                        required [(ngModel)]="usuario.nombre">
                </article>

                <article class="col-12 col-md-6">
                    <label for="apellido" class="form-label">Apellidos</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Escribe tus apellidos"
                        required [(ngModel)]="usuario.apellido">
                </article>
            </section>

            <section class="row mb-3">
                <article class="col-12 col-md-6">
                    <label for="email" class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Escribe tu correo"
                        required [(ngModel)]="usuario.email">
                </article>
                
                <article class="col-12 col-md-6">
                    <label for="telefono" class="form-label">Teléfono</label>
                    <input type="number" class="form-control" id="telefono" name="telefono" placeholder="Escribe tu teléfono"
                        required [(ngModel)]="usuario.telefono" pattern="[0-9]{9}">
                </article>
            </section>

            <section class="mb-3">
                <article>
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password"
                        placeholder="Escribe tu contraseña" required [(ngModel)]="usuario.password">
                </article>
            </section>

            <section class="mb-3">
                <article>
                    <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                        placeholder="Confirma tu contraseña" required [(ngModel)]="confirmPassword">
                </article>
            </section>

            <section class="row mb-3">
                <article class="col-12">
                    <label for="rol" class="form-label">Rol</label>
                    <select class="form-control" id="rol" name="rol" required [(ngModel)]="usuario.rol">
                        <option value="" disabled selected>Selecciona un rol</option>
                        <option value="alumno">Alumno</option>
                        <option value="entrenador">Entrenador</option>
                        <option value="admin">Administrador</option>
                    </select>
                </article>
            </section>

            <section class="row mb-3">
                <article class="col-12">
                    <label for="fotoPerfil" class="form-label">Foto de perfil</label>
                    <input type="file" class="form-control" id="fotoPerfil" name="fotoPerfil" required (change)="onFileSelected($event)">
                </article>
            </section>

            <section class="row mb-3 text-center">
                <article>
                    <button type="submit" class="btn btn-primary w-100">Registrar</button>
                </article>
            </section>
        </div>
    </main>
</form>
