<div class="container mt-5">
  <div class="d-flex justify-content-end mb-3">
    @if(isEntrenadororAdmin()){
    <button class="btn btn-primary d-flex align-items-center gap-2" routerLink="/createEvent">
      <i class="bi bi-calendar-plus"></i> <span>Crear Evento</span>
    </button>
    }
  </div>
  <div class="d-flex justify-content-center align-items-center mb-4">
    <h2 class="mb-5">Eventos Disponibles</h2>
  </div>

  @if (events.length > 0) {
  <div class="row mb-5">
    @for (event of events; track event) {
    @if(event.ubicacion){
    <div class="col-12 col-lg-4 col-xl-4 col-md-4 col-sm-12">
      <app-cards-events [titulo]="event.nombre" [descripcion]="event.descripcion" [capacidad]="event.capacidad"
        [fecha]="dateClass" [ubicacion]="event.ubicacion" [id]="event.id" [estado]="event.estado"
        (data)="onClickEvent($event)">
      </app-cards-events>
    </div>
    }
    } @empty {
    <div class="col-12">
      <div class="alert alert-info">
        <i class="bi bi-info-circle"></i> No hay eventos disponibles
      </div>
    </div>
    }
  </div>
  } @else {
  <div class="alert alert-info mb-5">
    <i class="bi bi-info-circle"></i> No hay eventos disponibles en este momento
  </div>
  }
</div>

<app-modal-event (modal)="onClose($event)" [titulo]="titulo" [id]="idEvent" [descripcion]="descripcion"
  [capacidad]="capacidad" [ubicacion]="ubicacion" [estado]="estado" [fecha]="dateClass" [modalClass]="modalClass"
  (deleteEvent)="handleEventDeleted($event)"></app-modal-event>