<div class="container mt-4 mb-5">
    <div class="d-flex justify-content-end mb-5">
        @if (userRole === 'entrenador') {
            <a routerLink="/createEvent" class="btn btn-md btn-primary mt-3 px-3">
                <i class="bi bi-calendar-event me-2"></i>
                Crear Nuevo Evento
            </a>
        }
    </div>
    <div class="card shadow-lg">
        <div class="card-header text-dark p-4">
            <div class="d-flex align-items-center w-100">
                <hr class="me-2" style="width: 40px; height: 3px; background-color: blue">
                <span class="text-uppercase fw-bold">Eventos</span>
            </div>
            <h3 class="mt-2 mb-4">Noche de MMA y Proyección de Peleas</h3>
            <div class="d-flex align-items-center text-muted mb-3">
                <i class="bi bi-calendar-event me-2"></i>
                Mar 15, 2025
            </div>
            <div id="direccion-evento" (click)="abrirGoogleMaps()" class="d-flex align-items-center text-muted mt-3"
                style="cursor: pointer;">
                <i class="bi bi-geo-alt me-2"></i>
                <span>{{ ubication }}</span>
            </div>
        </div>
        <div class="card-body p-4">
            <p class="mt-2">
                ¡Únete a nosotros para una increíble noche de MMA! Organizamos una velada especial donde analizaremos
                las mejores peleas de UFC, Bellator y otras ligas. Disfruta de una proyección en pantalla grande y
                participa en debates estratégicos sobre las técnicas utilizadas por los peleadores profesionales.
            </p>
            <p>
                Además, contaremos con la presencia de entrenadores expertos que compartirán su conocimiento sobre las
                estrategias de combate, tácticas de defensa y técnicas avanzadas. Una gran oportunidad para aprender,
                socializar y vivir la emoción del mundo de las Artes Marciales Mixtas.
            </p>
        </div>
        <img src="../../../../images/boxeo.jpg" class="card-img-top" alt="Noche de entrenamiento MMA">
    </div>
</div>
