<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Horarios de Clases</title>
</head>

<body>
  <h2 class="text-center fw-bold">Horario de Clases</h2>
  <div class="container">
    <div class="mt-4 mb-5">
      <label for="horario" class="me-2">Seleccione una sala:</label>
      <select id="horario" (change)="onChangeHall($event)">
        <option value="horario1">Sala 1</option>
        <option value="horario2">Sala 2</option>
      </select>
    </div>
    <table border="1">
      <thead>
        <tr>
          <th>Hora</th> 
          @for (dia of dias(); track dia) {
            <th>{{ dia }}</th> 
          }
        </tr>
      </thead>
      <tbody>
        @for (horario of horarios(); track horario) {
          <tr>
            <td><strong>{{ horario }}</strong></td> 
            @for (dia of dias(); track dia) {
              }
          </tr>
        }
        @for(arteMarical of artesMarciales; track arteMarical) {
          <tr>
            <td><strong>{{ arteMarical }}</strong></td> 
            @for (dia of dias(); track dia) {
              }
          </tr>
        }
      </tbody>
    </table>
  </div>

  <app-add-martial-art (create)="getMartialArt($event)"></app-add-martial-art>

</body>

</html>
