body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }

  table {
    width: 95%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  th,
  td {
    padding: 12px;
    text-align: center;
    border: 1px solid #dddddd;
  }

  th {
    background-color: #32506f;
    color: white;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #e1e1e1;
  }

  .hidden {
    display: none;
  }

  select {
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 8px;
  }