<main>
    <div class="container my-5">
    <div class="row align-items-center">
       
        <div class="col-lg-6">
            <h2 class="fw-bold">Saco Boxeo</h2>
            <p class="text-muted">
                💥 ¡Mejora tu fuerza, resistencia y técnica golpeando el saco de boxeo! 💪🥊 Este entrenamiento es ideal para desarrollar velocidad, precisión y potencia en tus golpes, mientras quemas calorías y liberas estrés.
            </p>
               <p>🥇 Beneficios:</p>
            <li> ✅ Aumenta tu resistencia cardiovascular 🏃‍♂️</li>   
              <li>✅ Mejora tu coordinación y reflejos ⚡</li>  
                <li>✅ Fortalece brazos, hombros y core 💪</li>
                <li>✅ Reduce el estrés y mejora tu enfoque mental 🧠</li>
                <br>
                <p> No importa si eres principiante o avanzado, entrenar con el saco es una excelente forma de mejorar tu rendimiento. ¡Ponte los guantes y empieza a golpear con determinación! 🔥👊       </p>
        
               
            
            <div class="d-flex gap-3">
                <a href="#" class="btn btn-outline-danger px-4" routerLink="/activities">Volver</a>
            </div>
        </div>
    <div class="col-lg-6">
        <div class="carousel">
            <div class="carousel slide carousel-fade" id="mi-carousel" data-bs-ride="carousel"
                data-bs-interval="4000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://cdn.pixabay.com/photo/2016/08/01/19/08/kickboxer-1561793_1280.jpg"
                            class="d-block w-100 rounded" alt="Saco Boxeo en acción">
                    </div>
                    <div class="carousel-item">
                        <img src="https://cdn.pixabay.com/photo/2016/12/21/19/18/boxer-1923682_960_720.jpg"
                            class="d-block w-100 rounded" alt="Saco Boxeo entrenamiento">
                    </div>
                    <div class="carousel-item">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/xkOzbGDE49M?si=IpnssxIBkVoN_wDc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#mi-carousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#mi-carousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Siguiente</span>
                </button>

                <div class="carousel-indicators">
                    <button type="button" class="active" data-bs-target="#mi-carousel" data-bs-slide-to="0"
                        aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#mi-carousel" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#mi-carousel" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</main>
