<div class="profile-container">
    @if (userData) {
        <div class="profile-card">
            <div class="profile-header">
                <div class="profile-image">
                    @if (userData) {
                        <img [src]="userData" 
                             alt="Foto de perfil" 
                             (click)="openImageModal(userData, 'Foto de Perfil')" 
                             style="cursor: pointer;">
                    } @else {
                        <i class="bi bi-person-circle" style="font-size: 80px; cursor: pointer;"></i>
                             
                    }
                </div>
                <h2>Mi Perfil</h2>
            </div>
            
            

            <div class="profile-actions"> <button type="submit" class="btn btn-primary fw-bold px-4 py-2 shadow-sm animated-button"
                aria-label="Enviar formulario de contacto"  (click)="editProfile()">
                <i class="bi bi-pencil-square me-2"></i>Editar perfil
            </button>
               
            </div>
        </div>
    } @else {
        <div class="no-profile">
            <p>No hay datos de usuario disponibles.</p>
            <button class="btn btn-primary" routerLink="/signIn">Iniciar Sesión</button>
        </div>
    }
</div>

@if (selectedImage) {
    <app-image-modal
        [imageUrl]="selectedImage.url"
        [imageTitle]="selectedImage.title"
        [imageDescription]="selectedImage.description"
        (closeModal)="closeImageModal()">
    </app-image-modal>
}