<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card shadow-md rounded-lg">
        <div class="card-header bg-dark text-white text-center py-4">
          <h3 class="mb-0"><i class="bi bi-pencil-square me-2"></i>Edición Entrenador</h3>
        </div>
        <div class="card-body p-4">
          <form (ngSubmit)="onSubmit()" [formGroup]="editFormTrainer">
            <!-- Foto -->
            <div class="text-center mb-4">
              <div class="profile-image-container mb-3">
                @if (photo) {
                <img [src]="photo" alt="Foto de perfil" class="rounded-circle border shadow-sm">
                } @else {
                <div class="default-image rounded-circle bg-light">
                  <i class="bi bi-person-circle text-secondary"></i>
                </div>
                }
              </div>
              <div class="mb-3">
                <label for="foto" class="btn btn-outline-primary">
                  <i class="bi bi-camera"></i> Cambiar Foto
                </label>
                <input type="file" id="foto" class="d-none" accept="image/*" (change)="onFileSelected($event)">
              </div>
            </div>

            <div class="row mt-5">
              <div class="col-6 mb-4">
                <label for="nombre" class="form-label"><i class="bi bi-person"></i> Nombre</label>
                <input type="text" class="form-control" id="nombre" formControlName="name" required
                  placeholder="Introduce el nombre">
              </div>
              <div class="col-6 mb-4">
                <label for="apellidos" class="form-label"><i class="bi bi-people"></i> Apellidos</label>
                <input type="text" class="form-control" id="apellidos" formControlName="surname" required
                  placeholder="Introduce los apellidos">
              </div>
              <div class="col-6 mb-3">
                <label for="telefono" class="form-label"><i class="bi bi-telephone"></i> Teléfono</label>
                <input type="number" class="form-control" id="telefono" formControlName="phone" required
                  pattern="[0-9]{9}" placeholder="Introduce el teléfono">
              </div>
              <div class="col-6 mb-4">
                <label for="email" class="form-label"><i class="bi bi-envelope"></i> Correo Electrónico</label>
                <input type="email" class="form-control" id="email" formControlName="email" required
                  placeholder="Introduce el correo electrónico">
              </div>

              <div class="mb-4 position-relative">
                <label for="newPassword" class="form-label"><i class="bi bi-key"></i> Nueva Contraseña</label>
                <input [type]="showNewPassword ? 'text' : 'password'" class="form-control" id="newPassword"
                  formControlName="newPassword" placeholder="Introduce la contraseña">
                <span class="password-toggle" (click)="togglePasswordVisibility('new')" style="cursor: pointer;">
                  <i class="bi" [ngClass]="showNewPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
                </span>
              </div>
              <div class="mb-3 position-relative">
                <label for="confirmPassword" class="form-label"><i class="bi bi-key-fill"></i> Confirmar
                  Contraseña</label>
                <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control" id="confirmPassword"
                  formControlName="confirmPassword" placeholder="Confirme la contraseña">
                <span class="password-toggle"
                  (click)="togglePasswordVisibility('confirm')" style="cursor: pointer;">
                  <i class="bi" [ngClass]="showConfirmPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
                </span>
              </div>
              <div class="text-center mt-4">
                <button type="submit" class="btn btn-success me-3">
                  <i class="bi bi-check-circle"></i> Guardar Cambios
                </button>
                <button type="button" class="btn btn-danger" (click)="cancelar()">
                  <i class="bi bi-x-circle"></i> Cancelar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>