<main>
    <div class="container my-5">
        <div class="row align-items-center">

            <div class="col-lg-6">
                <h2 class="fw-bold">Defensa Femenina</h2>
                <p class="text-muted">
                    🔥 ¡Empodérate y aprende a defenderte con confianza! 🔥 Nuestras clases de defensa personal femenina
                    te enseñarán técnicas efectivas para protegerte en cualquier situación, mejorando tu seguridad,
                    fuerza y reflejos.
                </p>
                <li>🌟 ¿Qué aprenderás? </li>
                <li> ✅ Técnicas de escape y autoprotección 🏃‍♀️</li>
                <li> ✅ Golpes y bloqueos efectivos 🥊 </li>
                <li> ✅ Control de situaciones de riesgo ⚠️</li>
                <li> ✅ Desarrollo de confianza y determinación 💪</li>
<br>
                <p> No necesitas experiencia previa, solo ganas de aprender y sentirte más segura en tu día a día.
                    ¡Únete a nuestra comunidad y toma el control de tu seguridad! 👊🔥
                </p>

                <div class="d-flex gap-3">
                    <a href="#" class="btn btn-outline-danger px-4" routerLink="/activities">Volver</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="carousel">
                    <div class="carousel slide carousel-fade" id="mi-carousel" data-bs-ride="carousel"
                        data-bs-interval="4000">

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="img-fluid" src="../../../../images/boxeo.jpg" alt="Imagen de Boxeo 1">
                            </div>

                            <div class="carousel-item" data-bs-interval="3000">
        
                                <video width="640" height="360" controls>
                                    <source src="https://www.youtube.com/watch?v=sgBZVLr91ug" type="video/mp4">
                                    <source src="ruta_del_video.webm" type="video/webm">
                                  </video>  
                                 </div>
                
                            <div class="carousel-item">
                                <img class="img-fluid" src="../../../../images/chi-kung-2.jpg" alt="Imagen 2 de Chi Kung">
                            </div>
        
                            <div class="carousel-item">
                                <iframe class="d-block w-100 rounded" class="rounded" src="https://www.youtube.com/embed/Wz8b2xff7s0"
                                    title="Capoeira Video" frameborder="0" allowfullscreen>
                                </iframe>
                            </div>
                        </div> 

                        <button class="carousel-control-prev" type="button" data-bs-target="#mi-carousel"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Anterior</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#mi-carousel"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Siguiente</span>
                        </button>

                        <div class="carousel-indicators">
                            <button type="button" class="active" data-bs-target="#mi-carousel" data-bs-slide-to="0"
                                aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#mi-carousel" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#mi-carousel" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>