<main>
    <div class="container my-5">
        <div class="row align-items-center">

            <div class="col-lg-6">
                <h2 class="fw-bold">Jiu-Jitsu</h2>
                <p>
                    ¡Descubre el arte del Jiu-Jitsu y transforma tu cuerpo y mente! 🥋🔥 Aprende a defenderte con
                    técnicas de control, sumisión y estrategia mientras mejoras tu resistencia, flexibilidad y fuerza.
                    Nuestro programa combina la tradición del Jiu-Jitsu brasileño con métodos modernos de entrenamiento
                    para garantizar tu progreso.
                </p>
                <p>🛡️ Mejora tu confianza, disciplina y toma de decisiones en situaciones de combate. Ya seas
                    principiante o avanzado, nuestros entrenamientos están diseñados para adaptarse a tu nivel y
                    ayudarte a desarrollar tu máximo potencial.

                </p>
                <p> ¡Únete a nuestra comunidad y lleva tus habilidades al siguiente nivel! </p>


                <div class="d-flex gap-3">
                    <a href="#" class="btn btn-outline-danger px-4" routerLink="/home">Volver</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="carousel">
                    <div class="carousel slide carousel-fade" id="mi-carousel" data-bs-ride="carousel"
                        data-bs-interval="4000">

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="img-fluid" src="../../../../images/boxeo.jpg" alt="Imagen de Boxeo 1">
                            </div>

                            <div class="carousel-item" data-bs-interval="3000">

                                <video width="640" height="360" controls>
                                    <source src="https://www.youtube.com/watch?v=sgBZVLr91ug" type="video/mp4">
                                    <source src="ruta_del_video.webm" type="video/webm">
                                </video>
                            </div>

                            <div class="carousel-item">
                                <img class="img-fluid" src="../../../../images/mma.jpg" alt="Imagen de Boxeo 3">
                            </div>
                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#mi-carousel"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Anterior</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#mi-carousel"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Siguiente</span>
                        </button>

                        <div class="carousel-indicators">
                            <button type="button" class="active" data-bs-target="#mi-carousel" data-bs-slide-to="0"
                                aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#mi-carousel" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#mi-carousel" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-lg-12 text-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/rrXQQ6MV7hs?si=sSS34nSEexm3i1ZX"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>

    </div>
</main>