<div class="container">
    <div class="header">
        <h1>ACTIVIDADES</h1>
        <p>En nuestro club, contarás con expertos apasionados que te guiarán en actividades únicas para fortalecer tanto tu cuerpo como tu mente. ¡Descubre nuevas experiencias deportivas y alcanza tus metas con nosotros!</p> </div>
    
    <div class="cards">
                <div class="card">
                    <img src="../../../../images/capoeira.jpg" class="card-img-top" alt="Capoeira">
                    <div class="card-body">
                        <div class="card-icon">🏅</div>
                        <h2>Capoeira</h2>
                        <p>¡Conoce el ritmo de Brasil! Combina danza, acrobacia y artes marciales para mejorar tu agilidad y energía.</p>
                        <button class="btn btn-success" type="button">
                            Ver Más
                          </button>
                        </div>
                </div>

            <!-- Tarjeta MMA Amateur -->
                <div class="card">
                    <img src="../../../../images/mma cards.jpg" class="card-img-top" alt="MMA Amateur">
                    <div class="card-body">
                        <div class="card-icon">🥊</div>
                        <h2>MMA Amateur</h2>
                        <p>¡Desafía tus límites! Aprende técnicas de boxeo, lucha y jiu-jitsu en un ambiente seguro y lleno de acción.</p>
                        <button class="btn btn-success" type="button">
                            Ver Más
                          </button>
                    </div>
            </div>

            <!-- Tarjeta Jiu Jitsu -->
                <div class="card">
                    <img src="../../../../images/jui-jitsu.jpg" class="card-img-top" alt="Jiu Jitsu">
                    <div class="card-body">
                        <div class="card-icon">🤼</div>
                        <h2>Jiu Jitsu</h2>
                        <p>¿Te gustaría dominar el combate? Practica técnicas de sumisión y control en el suelo para tu defensa personal.</p>
                        <button class="btn btn-success" type="button">
                            Ver Más
                          </button>
                    </div>
                </div>

                <div class="card">
                    <img src="../../../../images/saco.jpg" class="card-img-top" alt="Jiu Jitsu">
                    <div class="card-body">
                        <div class="card-icon">🤼</div>
                        <h2>Sacos de boxeo</h2>
                        <p>¡Golpea con fuerza! Mejora tu resistencia, coordinación y fuerza mientras te diviertes con el saco de boxeo.</p>
                        <button class="btn btn-success" type="button">
                        Ver Más
                      </button>
                    </div>
                </div>
                
                <div class="card">
                    <img src="../../../../images/defensa femenina.jpg" class="card-img-top" alt="Jiu Jitsu">
                    <div class="card-body">
                        <div class="card-icon">🤼</div>
                        <h2>Defensa Femenina</h2>
                        <p>¡Empoderate! Aprende autodefensa adaptada a las mujeres y siente mayor seguridad y confianza en ti misma.</p>
                        <button class="btn btn-success" type="button">
                            Ver Más
                          </button> </div>

                </div>

                <div class="card">
                    <img src="../../../../images/chi-kung.jpg" class="card-img-top" alt="Jiu Jitsu">
                    <div class="card-body">
                        <div class="card-icon">🤼</div>
                        <h2>Chi-Kung</h2>
                        <p>Relaja tu cuerpo y mente. Practica Chi-Kung y encuentra el equilibrio con movimientos suaves y respiración profunda.</p>
                         <button class="btn btn-success" type="button">
                        Ver Más
                      </button>
                     </div>
                </div>
            </div>
        </div>
    
