<div class="container">
    <div class="header">
        <h1>ACTIVIDADES</h1>
        <p>Gracias a los grandes profesores que tenemos en el club y su dilatada experiencia en las diferentes modalidades, podemos ofrecer diferentes actividades que ejercitan deportivamente el cuerpo y la mente.</p>
    </div>
    <div class="cards">
        <div class="card">
            <img src="../../../../images/capoeira.jpg" alt="Capoeira">
            <div class="card-icon">🏅</div>
            <h2>Capoeira</h2>
            <p>La lucha libre es un deporte que combina técnica, fuerza y espectáculo, ofreciendo múltiples beneficios físicos y mentales. Practicarla mejora la resistencia cardiovascular, la fuerza muscular y la flexibilidad.</p>
        </div>

        <div class="card">
            <img src="../../../../images/mma cards.jpg" alt="MMA Amateur">
            <div class="card-icon">🥊</div>
            <h2>MMA Amateur</h2>
            <p>El MMA amateur es una modalidad deportiva de artes marciales mixtas donde se combinan técnicas de distintas disciplinas como boxeo, lucha, jiu-jitsu y muay thai, pero con reglas adaptadas para la seguridad de los practicantes.</p>
        </div>

        <div class="card">
            <img src="../../../../images/jui-jitsu.jpg" alt="Jiu Jitsu">
            <div class="card-icon">🤼</div>
            <h2>Jiu Jitsu</h2>
            <p>La lucha grecorromana es una disciplina deportiva que destaca por su rigor técnico y sus grandes beneficios físicos. Al centrarse en el uso de la parte superior del cuerpo, fortalece considerablemente los músculos del torso.</p>
        </div>

        <div class="card">
            <img src="../../../../images/jui-jitsu.jpg" alt="MultiFuncional">
            <div class="card-icon">🤼</div>
            <h2>MultiFuncional</h2>
            <p>La lucha grecorromana es una disciplina deportiva que destaca por su rigor técnico y sus grandes beneficios físicos. Al centrarse en el uso de la parte superior del cuerpo, fortalece considerablemente los músculos del torso.</p>
        </div>

        <div class="card">
            <img src="../../../../images/jui-jitsu.jpg" alt="Jiu Jitsu">
            <div class="card-icon">🤼</div>
            <h2>Sacos de boxeo</h2>
            <p>La lucha grecorromana es una disciplina deportiva que destaca por su rigor técnico y sus grandes beneficios físicos. Al centrarse en el uso de la parte superior del cuerpo, fortalece considerablemente los músculos del torso.</p>
        </div>
    </div>
</div>
