<div class="container mt-5 mb-5">
    <h2 class="text-center mb-5">Lista de Alumnos</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped align-middle">
            <thead class="table-dark">
                <tr class="text-center">
                    <th scope="col">Foto</th>
                    <th scope="col">Nombre y Apellidos</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Correo Electrónico</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody class="text-center">
                @for (member of members; track member; let i = $index;) {
                <tr>
                    <td>
                        <img [src]="" class="rounded-circle" width="50" height="50" alt="Imagen sobre miembro">
                    </td>
                    <td>{{ member.nombre }}</td>
                    <td>{{ member.apellido }}</td>
                    <td>{{ member.email }}</td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-danger me-2" 
                                (click)="eliminarAlumno(member.id)"
                                [disabled]="isLoading(member.id)">
                            @if (isLoading(member.id)) {
                                <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                                Eliminando...
                            } @else {
                                <i class="bi bi-trash"></i> Eliminar
                            }
                        </button>
                        <button class="btn btn-sm btn-primary" [routerLink]="['/editUser', member.id]">
                            <i class="bi bi-pencil"></i> Editar
                        </button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <button class="btn btn-sm btn-primary" routerLink="/crearAlumno">
            <i class="bi bi-plus"></i> Crear Alumno
        </button>
    </div>
</div>
