<div class="container py-5">
    @if (listProgress.length > 0) {
    <h2 class="text-center mb-5 fw-bold">Lista de Progresos</h2>
    <div class="row g-4">
        @for (progress of listProgress; track progress; let i = $index;) {
        <app-cards-progress [description]="progress.descripcion" [dateProgress]="progress.fecha"
            [namePupil]="namePupil"></app-cards-progress>
        }
    </div>
    } @else {
    <div class="alert alert-warning text-center" role="alert">
        <i class="bi bi-exclamation-triangle-fill me-2"></i>
        No hay progresos disponibles en este momento.
    </div>
    }
</div>